<h2> Deleted customer's profile information</h2>
<div class="centerbutton">
    <br><br>
<button><a style="text-decoration: none; color: black; font-size: 16px;" href="/CDM"> Go Back</a></button>
</div>