<br>
<h1>Customer Interaction Hub</h1>
<hr>
<div class="cihcontainer-2">

    <div class="cih-prev-page"><a href="/CIH"><i class="fa-solid fa-circle-chevron-left cih-left-arrow"></i></a>
        <p style="font-style: italic; font-size: 15px;">previous page</p></div>

       
<div class="cihchild2 page2-left"><h2 class="cih2-h2">New Announcement</h2>

<form class="cih2-form" action="/CIH/pg2" method="POST">
<p style="text-align: center; font-size:16px;">Message*</p>
<textarea class ="cih-textarea" id="message" name="message" ></textarea>
<br>
<p class="cih2-form-p">Urgent?</p>
<div class="cih-label-container">
<input type="radio" id="yes" name="urgency" value="yes">
<label class="cih-labels" for="yes">Yes</label>

<input type="radio" id="no" name="urgency" value="no">
<label class="cih-labels" for="no">No</label>
</div>
<br>
<label style="font-size: 16px;" for="launch_date">Launch Date:</label>
<input style="width: 200px ;" type="date" id="launch_date" name="launch_date">
<br>
<button type="submit">submit</button>
</form>
</div>


<div class="cihchild2 page2-right"><h2 class="cih2-h2">Feedback</h2>
<div class="feedback-container">
<div class="feedback-child1">
<p class="feedback-name">Sergio Jimenez<i class="fa-solid fa-thumbs-up thumbs-up-icon"></i></p>
<p style="font-size: 12px; opacity: 40%; font-style: italic;">Posted 3 days ago </p>
<p>The GamerHub team is always so welcoming and inviting! I love the staff and everytime I visit it's an awesome time.
</p> 
<hr>

<p class="feedback-name">Francessca Acevedo<i class="fa-solid fa-thumbs-down thumbs-down-icon"></i></p>
<p style="font-size: 12px; opacity: 40%; font-style: italic;">Posted 4 days ago </p>
<p>The store and their staff are great... But I was expecting there to be more Switch accessories :/ Seems like they need to update their stock!
</p> 
<hr>
<p class="feedback-name">Janrilynn Burke<i class="fa-solid fa-thumbs-up thumbs-up-icon"></i></p>
<p style="font-size: 12px; opacity: 40%; font-style: italic;">Posted a week ago </p>
<p>This store carries a lot of niche collectables and all sorts of great stuff. Been looking for a Link Funko Pop! forever and GamerHub delivered. Thanks guys!
</p> 
<hr>
</div>

</div>
</div>

</div>


<br>
<div class="centerbutton">
    <button><a stlye="text-decoration:none" href="../">Home</a></button>
</div>