<header> <h3>Customer Data Management</h3></header>
<hr>
<body>
    
    <div class="flexbox-container">
    <!-- <nav> -->
        <div class="flexbox-item createuser">
          <a href="#">Create User</a>
          <p>Enter in new customer information</p>
        </div>
        <div class="flexbox-item edituser">
            <a href="#">Edit User Data</a>
            <p>Edit existing customer information</p>
        </div>
        <div class="flexbox-item new-cust">
            <p> Newest Customer</p>
        </div>
        <div class="flexbox-item freq-cust"><h1>Frequent Customers</h1></div>
    <!-- </nav> -->
    </div>
    
</body>


<a href ="../"> Home</a>