    <div>
            <header>
                <h1>GamerHub CRM Home Page</h1>
            </header>
            <h2 style="font-style: italic">What would you like to do today?</h2>
    
            <nav class ="homenav">
                <a href="/login">Customer Data Management</a>
                <a href="#">Customer Interaction Hub</a>
                <a href="#">Reporting and Analytics</a>
                <a href="#">Inventory Management</a>
                <a href="/login/admin">Add New Employee - ADMIN ONLY </a>
            </nav>            