
   <div>
            <header>
                <h1>GamerHub CRM Home Page</h1>
            </header>
            <h2 style="font-style: italic">What would you like to do today?</h2>
            <div class ="homeflex">
            <nav class ="homenav">
                <a href="/login">Customer Data Management</a>
                <a href="/login/CIH">Customer Interaction Hub</a>
                <a href="/login/RandA">Reporting and Analytics</a>
                <a href="/login/Inventory">Inventory Management</a>
                <a href="/login/admin">Add New Employee - ADMIN ONLY </a>
            
            </nav>
        </div>
        </div>