<header>
    <h1>IT Claim Support</h1>
</header>
   
    <div class="form">
        <p>Please enter in your information and details of the issue below:</p>
    <form action="/help" method="POST">
        <div>
            <label for="id">ID:</label>
            <input type="text" name="id" required>
            <label for="name">Name:</label>
            <input type="text" name="name" required>
            <br>
            <div>
                <div class="itcheckboxes">
            <input type="checkbox" id="loginissue" name="loginissue">
            <label for="loginissue">Login Issue</label>
            </div>
            <div>
            <input type="checkbox" id="compissue" name="compissue">
            <label for="compissue">Hardware Issue</label>
            </div>
            <div>
            <input type="checkbox" id="otherissue" name="otherissue">
            <label for="otherissue">Other Issue</label>
             </div>
            </div>


            <p>What technical issue are you experiencing?</p>
            <p>Please provide more details in the text area provided: </p>
        <textarea id="content" name="content"></textarea><br>
     

     
     <button type="submit">Submit</button>
    </form>
    <a href ="../"> Home</a>
</div>
