<header>
    <h1>IT Claim Support</h1>
</header>
   
    <div class="form">
        <p>Please enter in your information and details of the issue below:</p>
    <form action="/users/signup" method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" required>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>

            <p>What technical issue are you experiencing?</p>
            <div class="checkbox">
            <input type="checkbox" id="signon" name="signon" value="signon">
            <label for="signon">Login Issues</label><br>
            <input type="checkbox" id="signon1" name="signon" value="signon">
            <label for="signon">Login Issues</label><br>
            <input type="checkbox" id="signon2" name="signon" value="signon">
            <label for="signon">Login Issues</label><br>
            </div>
        </div> 
        <div class="space">
            <p>Please provide more details in the text area provided: </p>
        <textarea></textarea>
     </div>

     
     <button type="submit">Submit</button>
    </form>
    <a href ="../"> Home</a>