<h1>GamerHub CRM Portal</h1>

    <h2>Please enter in new employee's information: </h2>
    <div class = "form">
    <form action="/newEmp" method="POST">
        <div>
            <label for="fname">First Name: </label>
            <input type="text" name="fname" required>
        <br>
        <label for="lname">Last Name: </label>
            <input type="text" name="lname" required>
        <br>
            <label for="id">Employee ID: </label>
            <input type="text" name="id" required>
       <br>
            <label for="password">Password:  </label>
            <input type="password" name="password" required>
        <br>

        </div>
        <button type="submit">Submit</button>
    </form>
</div>
<div class ="center">
    

    <p>Need support?</p><a href="/help">Contact IT Support</a>
   <p> <a href ="../">Home</a></p>
</div>