@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,400&display=swap');
/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/* Body styles */
body { 
    background-color: black;
}

/* Standard Centering Text*/
.center{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin:auto;
}
/* Heading styles */
h1 {
    font-size: 60px;
    color: black;
    margin: 20px;
    text-align: center;
    font-weight: bold;
}

/* Subheading styles */
h2 {
    font-style: italic;
    padding-top: 20px;
    margin: 20px;
    text-align: center;
}

h3{
    text-align: center;
    padding-top: 20px;
    margin: 20px;

}
/* Navigation styles */
.homenav {
    margin: 30px;
    padding: 10px;
    text-align: center;
}

.homenav a {
    padding: 25px;
    margin: 10px;
    color: #000000;
    text-decoration: none;
    background-color: white;
    border: 2px solid black;
    transition-duration: 0.3s;
    cursor: pointer;
    height:auto;
    width: auto\9;

}

nav a:hover {
    background-color: #443c3c80;
    color: white;
}

.homeflex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
     gap: 1rem;
     flex-wrap:wrap-reverse;
}

footer{
    text-align: center;
}
/*Center Aligning for Login Screens*/
div.form{
    display:block;
    text-align: center;
}

form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align:left;
    font-size: 18px;

}

input{
    width: 100%;
}

button{
    border:1px solid black;
    margin: 10px;
    padding: 3px;
}

button:hover{
    background-color: #443c3c80;
    color: white;
    transition-duration: .3s;
}

textarea{
    height: 250px;
    width: 350px;
    display: inline-block;
    text-align:left;
    font-size: 12px;
}

p{
    font-size: 16px;
}

.hang-left{
    padding: 0px;
    margin: 0px;
    border: 1px solid black;

}

/* Universal Flex Containers */

.centerbutton{
    display:flex;
    justify-content: center;
    align-items: center;
}

.centerbutton a{
    padding: 20px;
    margin: 15px;
    
}
/*Flexbox manipulation for UI design*/

.flexbox-cdm{

   display: flex;
   justify-content: space-evenly;
}

.flexbox-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 500px;
    /* justify-content: flex-start;
    align-items: left; */
}

/* Children and Material for Customer Data Management Functionality */
.add-user-cdm{
    font-size: 30px;
    position: relative;
    left: 100px;
    
}

.edit-user-cdm{
    font-size: 30px;
    position: relative;
    left: 115px;
}

.add-user-cdm:hover{
    transition: none;
}
.flexbox-item{
    
    border-radius: 10px;
    text-align: center;
    height: 100px;
}
.cdm-buttons{
    border-radius: 10px;
    width:500px;
    height: 100px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    background: #e0ebeb;
}


.usertools a{
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: black;
}



.usertools p{
    font-size: 10px;
    font-style: italic;
}
.edituser:hover{
    background-color: #443c3c80;
    color: white;
    transition-duration: .3s;
    cursor:pointer;
}

.new-cust{
    min-height: 100px;
    text-align: center;
    justify-content: center;
    margin: 10px;
    border: 2px solid black;
    background: #e0ebeb;
    border-radius: 25px;
}

.all-cust{
    min-height: 375px;
    min-width: 800px;
    text-align: center;
    justify-content: center;
    margin: 10px;
    border: 2px solid black;
    background: #e0ebeb;
    border-radius: 25px;
}

.all-cust h1{
    font-size: 20px;
}

.cust-table table, th, td{
    width: 50%;
}

.cust-table td{
   padding: 5px 5px 7px;
}

.dropbtn {
    background-color: #9a8f84;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #b1b8bd;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {
    background-color: #ddd;
    transition-duration: .3s;
}
  
  .show {display: block;}

/* Customer Data Management Section -- End  */

/*==========================================*/


/*Customer Interaction Section -- Begins*/

/* page 1 css styling */


.cihcontainer-1{
display: flex;
width:100%;
height: 600px;
justify-content:space-evenly;
align-items: center;
gap: 3em;

}

.cihchild{
    border: 1px solid black;
   
}

.cihcontactheader{
    font-size: 20px;
    font-style: normal;
}
.page1-left{
    text-align: center;
    width: 300px;
    height: 400px;
    border-style: none;
}

.page1-right{
    text-align: center;
    height: 600px;
    width: 500px;
    border-radius: 10px;
   
    display:none;
}

.cih-contact-info-img{
    font-size: 80px;
    padding: 25px;
    margin:10px;
    border:1px solid black;
}

.cih-next-page{
    text-align: center;
}

.cih-right-arrow{
    font-size: 30px;
    text-align: center;
    color: #000000;
}

.cih-right-arrow:hover{
    color: #443c3c80;
    transition-duration: .3s;
    cursor:pointer;
}

.cihcontactbuttons{
    width:300px;
    height: 100px;
    padding:0px;
    margin:0px;
}

.cihcontactbuttons:focus{
    background-color: grey;
    color: white;
}
.cihcontactnames{
    padding:0px;
    margin: 0px;
}

.cih-profile-header{
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.p-contact-form{ 
    font-size: 15px;
    font-style: italic;
    opacity: 40%;
}

.contact-lines{
    border:1px solid black;
    padding: 10px;
    margin:0px;
    font-size: 16px;
}
/* page 2 css styling */

.cihcontainer-2{
    display: flex;
    height:auto;
    justify-content: space-around;
    align-items:center;
    gap: 2em;
    
    }

.cihchild2{
    border: 1px solid black;
    border-radius: 10px;
}


.page2-left{
    width:500px;
    height: 500px;
    text-align: center;
}

.cih2-form{
    padding:0px;
    margin:0px;
   display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cih-label-container{
    display: flex;
    align-items: center;
}
.cih-labels{
    font-size:14px;
    margin-right: 10px;
}


.cih2-form-p{
    text-align: center;
}
.cih-textarea{
    font-size:12px;
    height:150px;

}
.page2-right{
    padding: 0px;
    margin: 0px;
    width:700px;
    height: 600px;
    text-align: center;
    align-self: center;
}

.feedback-container{
   display:flex;
   height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.feedback-child1{ 
    flex:1;
}

.cih2-h2{
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    border: 1px solid black;
    border-style: none none dotted none;
    
}

.thumbs-up-icon{
    position: relative;
    left: 200px;
    font-size: 20px;
}

.thumbs-down-icon{
    position: relative;
    left: 200px;
    font-size: 20px;
}

.feedback-name{
    font-size: 16px;
}
.cih-prev-page{
    text-align: center;
}
.cih-left-arrow{
    font-size: 30px;
    color: #000000;
}

.cih-left-arrow:hover{
    color: #443c3c80;
    transition-duration: .3s;
    cursor:pointer;
}



/*Customer Interaction Section -- Ends*/

/*==========================================*/

/*Reporting and Analytics Section -- Begins*/
.rep-box-top-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    
}

.rep-box-bott-container{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    align-items: center;

    gap: 1em;
    
}
.rep{
    width: 250px;
    height: 120px;
    border: 1px solid black;
    border-radius: 12px;
    text-align: center;
}

.rep h2{
    font-size: 18px;
    font-style: normal;
    border: 1px solid black;
    border-style: none none solid none;
}
.ana{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.top-box1{
background-color: #2b2828b6;
color: white;
}

.top-box1 h2{
    border: 1px solid white;
    border-style: none none solid none;
}

.repp1{
padding:0px;
margin:0px;
font-size: 23px;
text-align: center;
}

.repp2{
font-size: 15px;
opacity: 60%;
}

.bot-box1{
height: 300px;
width: 40%;
align-self: flex-start;
}

.bot-box1 h2{
    font-size:20px;
    text-align: left;
    font-weight:600;
    padding: 0px;
    margin: 0px;
}

.bot-box2{
width: 300px;
height: 300px;
}

.bot-box2 h2{
padding: 0px;
margin: 0px;
font-size:20px;
font-style: normal;
border: 1px solid black;
border-style: none none solid none;
}

.repgraph{
    width: 600px;
    height: 250px;
}


/*Reporting and Analytics Section -- Ends*/


/*==========================================*/

/*Inventory Management Section -- Begins*/
.container{
    width: 600px;
    height: 400px;
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
}

.inv{
    
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    
    
}

.box-1{
    flex: 3;
    height: 400px;
    align-self: center;
    border: 2px solid black;
    background-color: #e0ebeb;
}

.box-1 h1{
    font-size: 24px;
    font-weight: bold;
}

.box-2{
    
    height: 200px;
    align-self: center;
    border: 2px solid black;
    background-color: #e0ebeb;
}

.box-2 h1{
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}
.box-3{
    align-self: flex-end;
}

.box-3 button{
    border-radius: 5px;
}

.box-4{
    align-self: flex-end;
}

.box-4 button{
   border-radius: 5px;
}

.inv-table{
    width: 100% ;
    border-collapse: collapse;
}

.inv-table td{
    width: 10px;
    padding: 10px;
    border: 1px solid black;
}
/*Inventory Management Section -- Ends*/

/*==========================================*/
/*Administrative Section -- Begins*/



/*Administrative Section -- Ends*/

/*==========================================*/

/*IThelp Section -- Begins*/

.flexbox-container1{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     gap: 5rem;

}

.itcheckboxes div{
    display: inline-block;
    margin-right:20px;
}

.itcheckboxes input[type="checkbox"] {
    vertical-align: middle;
    margin-right: 5px;
}

/*ITHelp Section -- Ends*/

/*==========================================*/
