@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,400&display=swap');
/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
}

/* Standard Centering Text*/
.center{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin:auto;
}
/* Heading styles */
h1 {
    font-size: 60px;
    color: black;
    margin: 20px;
    text-align: center;
    font-weight: bold;
}

/* Subheading styles */
h2 {
    font-style: italic;
    padding-top: 20px;
    margin: 20px;
    text-align: center;
}

h3{
    text-align: center;
    padding-top: 20px;
    margin: 20px;

}
/* Navigation styles */
.homenav {
    margin: 40px;
    padding: 30px;
    text-align: center;
}

.homenav a {
    padding: 25px;
    margin: 10px;
    color: #000000;
    text-decoration: none;
    background-color: white;
    border: 2px solid black;
    transition-duration: 0.3s;
    cursor: pointer;
    max-width: 100%;
    height:auto;
    width: auto\9;

}

nav a:hover {
    background-color: #443c3c80;
    color: white;
}


footer{
    text-align: center;
}
/*Center Aligning for Login Screens*/
div.form{
    display:block;
    text-align: center;
}

form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align:left;
    font-size: 18px;

}

input{
    width: 100%;
}

button{
    border:1px solid black;
    margin: 10px;
    padding: 3px;
}

button:hover{
    background-color: #443c3c80;
    color: white;
    transition-duration: .3s;
}

textarea{
    height: 250px;
    width: 350px;
    display: inline-block;
    text-align:left;
    font-size: 12px;
}

p{
    font-size: 16px;
}

.hang-left{
    padding: 0px;
    margin: 0px;
    border: 1px solid black;

}

/* Universal Flex Containers */

.centerbutton{
    display:flex;
    justify-content: center;
    align-items: center;
}

.centerbutton a{
    padding: 20px;
    margin: 15px;
    
}
/*Flexbox manipulation for UI design*/

.flexbox-cdm{

   display: flex;
   border: solid 1px black;
   justify-content: space-evenly;
}

.flexbox-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 500px;
    /* justify-content: flex-start;
    align-items: left; */
}

/* Children and Material for Customer Data Management Functionality */
.createuser{
    min-width: 100px;
    min-height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 2px solid black;
    background: #e0ebeb;
    border-radius: 25px;

}
 .createuser:hover{
    background-color: #443c3c80;
    color: white;
    transition-duration: .3s;
    cursor:pointer;
}

.createuser a{
  
    text-decoration: none;
    font-size: 20px;
    display:inline-flex;
    text-align: center;
    color: black;
}

.createuser a:hover{
    color:white;
    transition-duration: .3s;
}

.createuser p{
    font-size: 10px;
    font-style: italic;
}

.edituser {
    min-height: 100px;
    text-align: center;
    justify-content: center;
    margin: 10px;
    border: 2px solid black;
    background: #e0ebeb;
    border-radius: 25px;
}
.edituser:hover{
    background-color: #443c3c80;
    color: white;
    transition-duration: .3s;
    cursor:pointer;
}

.edituser a{
  
    text-decoration: none;
    font-size: 20px;
    display:inline-flex;
    text-align: center;
    color: black;
}
.edituser a:hover{
    color:white;
    transition-duration: .3s;
}

.edituser p{
    font-size: 10px;
    font-style: italic;
}

.new-cust{
    min-height: 100px;
    text-align: center;
    justify-content: center;
    margin: 10px;
    border: 2px solid black;
    background: #e0ebeb;
    border-radius: 25px;
}

.all-cust{
    min-height: 375px;
    min-width: 800px;
    text-align: center;
    justify-content: center;
    margin: 10px;
    border: 2px solid black;
    background: #e0ebeb;
    border-radius: 25px;
}

.all-cust h1{
    font-size: 20px;
}

.cust-table table, th, td{
    width: 50%;
}

.cust-table td{
   padding: 5px 5px 7px;
    border: .5px solid black;
   
}

/* Customer Data Management Section -- End  */

/*==========================================*/

/*IThelp Section -- Begin*/

.flexbox-container1{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     gap: 5rem;

}

.itcheckboxes div{
    display: inline-block;
    margin-right:20px;
}

.itcheckboxes input[type="checkbox"] {
    vertical-align: middle;
    margin-right: 5px;
}