<h1>GamerHub Reporting and Analytics</h1>

<h2>Please enter in employee ID and password below: </h2>
<div class = "form">
<form action="/login/RandA" method="POST">
    <div>
        <label for="id">Employee ID: </label>
        <input type="text" name="id" required>
   <br>
        <label for="password">Password:  </label>
        <input type="password" name="password" required>
    </div>
    <div class="centerbutton">
    <button type="submit">Login</button>
</div>
</form>
</div>
<div class ="center">


<p>Need help logging in?</p><a href="/help">Contact IT Support</a>
<p> <a href ="../">Home</a></p>
</div>